.entity-button{
    margin-bottom:1rem;
}

.entity-button label{
    padding:2rem 1rem;
    display:inline-block;
    background-color:var(--white);
    color:var(--black);
    transition: background-color .4s, color .4s;
}

.entity-button label.active{
    background-color:var(--black);
    color:var(--white);
}

h1{font-size:2.5rem; margin-bottom:2.2rem;}
h2{font-size:2.2rem; margin-bottom:2.0rem;}
h3{font-size:2.0rem; margin-bottom:1.8rem;}
h4{font-size:1.8rem; margin-bottom:1.5rem;}
h5{font-size:1.5rem; margin-bottom:1.3rem;}
h6{font-size:1.3rem; margin-bottom:1.0rem;}

h1,h2,h3{
    font-weight:bold;
}

.scrollTopButton {
    position: fixed;
    bottom: 20%;
    right: 0;
    padding: 1rem 1rem 1rem 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: rgba(173, 36, 36, 0.829);
    cursor: pointer;
    color:#ccc;
    transition: background-color .4s, color .4s;
    z-index:10000;
}

.scrollTopButton:hover{
    background-color: rgba(173, 36, 36,1);
    color:#eee;
}

html,body{ scroll-behavior: smooth}